$color: hsl(171, 59%, 53%);
$twitch: hsl(261, 41%, 58%);
$words: hsl(0, 0%, 52%);
$border: hsl(0, 0%, 85%);


$purple: hsl(261, 41%, 58%);
$lightgray:hsl(0, 0%, 52%);
$darkgray: #3d4449;

// Fonts
$opensans: 'Open Sans';
$robotoslab: 'Roboto Slab';

// Font Sizes
$genericheaders: 26px;
