body {
  font-family: sans-serif;
}

#modal.active {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal form {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 92%);
  border: 1px solid hsl(0, 0%, 85%);
  padding: 16px;
  text-align: center;
  box-shadow: 4px 4px 16px hsla(0, 0%, 0%, .5);
}

#modal p {
  margin: 0 0 16px;
}
#modal input[type='text']{
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.32);
  padding: 6px 5px;
  font-size: 16px;
}
#modal div {
  display: flex;
  justify-content: space-between;;
}
#modal div input {
  background-color: rgb(114, 174, 215);
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid rgb(79, 146, 193);
  padding: 6px 5px;
  margin-left: 5px;
}
