@import "_placeholders.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(48, 48, 48);
  background-color: #FFFCFF;
  overflow-x: hidden;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  line-height: 1.5;
  font-size: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $dark;
  padding: 0 250px;
  color: #FFFCFF;
}
nav a {
  text-decoration: none;
  color: #FFFCFF;
  margin-left: 10px;
}
nav a:nth-of-type(3) {
  border: 1px solid;
  padding: 0 5px;
  border-radius: 1px;
}
header {
  width: 100vw;
  height: 700px;
  background-image: url(../img/C3D8fH_VMAAJ3M4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $blue;
}
section {
  display: flex;
}

.triangle {
  position: relative;
  z-index: 10;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0px 60px 100vw;
  border-color: transparent transparent $dark transparent;
  }
 .info {
   width: 61%;
   background-color:$white;
   flex-direction: column;
   margin: 0 auto;
   padding: 50px 50px;
 }

.info h2 {
  border-bottom: 5px solid $blue;
  width: 8%;
}

.blogs  {
  background-color: $blue;
  padding: 20px 0 100px;
  color: $white;
   border-top: 5px solid $dark;
}
.rotate {
  margin: 0 auto;
  width: 60%;
}
.blogs h2 {
  margin-bottom: 50px;
  border-bottom:
  5px solid $dark;
  width: 9%
}
.rotate div {
  display: flex;
  justify-content: space-between;
}
.blogs .fa {
  font-size: 100px;
  color: $dark;
  border: 5px solid $dark;
  padding: 60px;
  border-radius: 100%;
}
.blogs .fa:nth-of-type(2) {
  padding: 60px 80px;
}
.blogs .fa:hover {
  color: $white;
  border-color: $white;
  transition: 350ms ease-in-out;
}
footer {
  background-color: $dark;
  color: $white;
  text-align: center;
  padding: 10px 0;
}
footer div {
  width: 50%;
}
