@import 'https://fonts.googleapis.com/css?family=Poppins';

body {
  color: hsl(280, 38%, 39%);
  font-family: 'Poppins', sans-serif;
  background-color: hsl(264, 100%, 97%);

}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 100%;
}
#content {
  width: 40%;
  padding-top: 15%;
  padding-left: 10%;
}
h1 {
  font-size: 30px;

}
button {
  border: 1px;
  color: white;
  background-color: hsl(280, 38%, 39%);
  padding: 7px 15px;;
  border-radius: 5px;
  margin-right: 75%;
}
#ipad img {

}
img {
  position: fixed;
  top: 15%;
  right: 0;
  transform: translate3d(50%, 0, 0);
}
