@import 'https://fonts.googleapis.com/css?family=Poppins';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css';


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: hsl(270, 41%, 55%);
}
nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 10px 20px;
}
nav * {
  margin: 0;
  padding: 0;
}
nav h1 {

}
nav ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  padding: 10px;
  margin: 0 5px;
  font-size: 80%;
}
nav ul li .button {
  border: solid 2px;
  padding: 2px 7px;
  border-radius: 4px;
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
.content {
  width: 65%;
  margin: 0 auto;
}
#hero {
  text-align: center;
  background-color: hsl(268, 55%, 91%);
  position: relative;
  padding: 50px 0 275px;
  overflow: hidden;
}
#hero img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 50%, 0);
}
hr {
  width: 5%;
  color: hsla(0, 0%, 30%, 0.48);
  padding-top: 20px;
  border: solid 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
#features header {
  text-align: center;
}
#features .content {
  display: flex;
}
header {
  text-align: center;
  font-size: 25px;
}
#features div {
  text-align: left;
  flex: 1;
  color: inherit;
}

#features div i {
  font-size: 30px;
  border: solid 2px;
  border-radius: 100px;
  padding: 10px;
  color: inherit;
  border-color: hsl(270, 41%, 55%);
}
